<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Insert data in  webpage</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">TopicName</label>
            <select name="topic" id="tn">
                {% for i in topics %}
                <option value="{{i.Topic_name}}">{{i.Topic_name}}</option>
                {% endfor %}
            </select><br>
            <label for="name">Name</label>
            <input type=" text" name="n" id="n"><br>
            <label for="url">Url</label>
            <input type="url" name="u" id="u"><br>
            <label for="email">Email</label>
            <input type=" email" name="e" id="e"><br>
            <input type="Submit">

        </form>
    </center>
</body>
</html>
