<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Select Multiple Options</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">Topic_Names</label>
            <select name="tn" id="tn" Multiple>
                {% for to in TO %}
                <option value="{{to.Topic_name}}">{{to.Topic_name}}</option>
                {% endfor %}
                <input type="submit">

            </select>
        </form>
    </center>
</body>
</html>